<%= link_to "Trainers", trainers_path %>
<% if @pokemons.exists? %>
  <div class="grid">
  <% @pokemons.each do |pokemon| %>
    <%= render pokemon %> 
  <% end %>
  </div>
<% else %>
  <p>There are no Pokemons in the Pokedex</p>
<% end %>